# Python
__pycache__/
*.pyc

# Entorno virtual
venv*/
aucca2026/
.env

# Archivos temporales de VS Code
.vscode/

# Archivos sensibles
credenciales.json
secrets.toml

# Streamlit deployment logs
.streamlit/logs/
